[2020-03-24 10:57] justjais opened #13 "Cisco ASA Acls resource module rename param giving traceback"
##### SUMMARY

Cisco ASA Acls resource module rename param giving traceback
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acls
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Want ACL name should be renamed to input want name

##### ACTUAL RESULTS

Traceback error thrown: `TypeError: 'No

[2020-03-26 10:54] justjais commented on #13
PR merged in ASA collections, closing the issue.

[2020-03-26 10:54] #13 closed

[2020-03-27 10:58] justjais opened #15 "Cisco ASA ACLs module fails when tryinng to configure ICMP/ICMP6 option"
##### SUMMARY

Cisco ASA ACLs module fails when tryinng to configure ICMP/ICMP6 option
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acls.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The config command is generated properly and ACLs configured as expected

##### ACTUAL RESULTS

Command ge

[2020-03-31 12:05] justjais commented on #15
PR with the fix is already merged, so closing the bug.

[2020-03-31 12:05] #15 closed

[2020-04-01 13:21] justjais opened #18 "Replace state in ASA acls resource module throwing traceback"
##### SUMMARY

Replace state in ASA acls resource module throwing traceback

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acls
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

macos

##### STEPS TO REPRODUCE

With pre-existing `test_access` ACLs

[code]

##### EXPECTED RESULTS

Replace state operation should run and config the play as expected

#####

[2020-04-07 02:36] ikhan2010 opened #20 "ASA deleted operation not working as expected"
##### SUMMARY
I am creating object-groups on ASA and updating the OGs with merged operation and testing the config by using deleted config, but deleted operation is not working as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Before playbook run config on ASA:

iftyasa(config)# sh run object-group
iftyasa(config)#

**Here is my merged operation playbook:**
---
- hosts: asa01
  ga

[2020-04-08 05:16] justjais commented on #20
@ikhan2010 Thank u for raising the issue, and have verified the bug and yes it's failing if user tries to delete want n have config that is same. I'll raise the PR to fix the isssue.

[2020-04-23 19:01] sebrower opened #23 "Have the possibility to have ACL with object-group for source and destination"
##### SUMMARY

For the module asa_ogs, it will be good to have ACLs with object-group like this:
- access-list global_access  line 1 extended permit tcp object-group devaccess-WEB object-group devaccess-WEB-endpoints eq www
- access-list global_access  line 2 extended permit tcp object-group devaccess-WEB any4  eq www
- access-list global_access   line 3 extended permit tcp 172.30.0.0 255.255.0.0

[2020-04-23 19:22] sebrower opened #24 "module asa_acls doesn't work if there are network-object-group in ACL"
##### SUMMARY

If we have ACL where there are network-object-group, and I play a playbook with the module asa_acls with the state: gathered, I obtain an issue.
##### ISSUE TYPE
- Feature request

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

I have this list of ACLs.
access-list ACI-PBR line 51 extended permit tcp object-group devaccess-d

[2020-04-26 14:26] justjais commented on #24
@sebrower Thanks for logging the issue, I'll triage the issue and update more on the issue.

[2020-04-26 14:34] justjais commented on #24
@sebrower seems like for source and destination I missed the implementation of following combos:
[code]
Thanks for testing the module, I'll include the support for both from source and destination end and update the module.

[2020-04-26 14:57] justjais commented on #23
@sebrower Thanks for raising the issue, but feels like a duplicate of https://github.com/ansible-collections/cisco.asa/issues/24, I'll be fixing this feature with the respective issue.
Closing this issue.

[2020-04-26 14:57] #23 closed

[2020-05-22 14:09] jvanderaa opened #28 "Changed concatenation to string formatting"
##### SUMMARY
https://github.com/ansible/ansible/pull/59073/files

See the PR I put in, can you add this to the ASA?

##### ISSUE TYPE
Bug 58258 on Ansible

##### COMPONENT NAME
asa_og

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Mac OS as command host
ASAv in lab environment

##### STEPS TO REPRODUCE

[code]

**Workaround task setup**:

[code]

##### EXPECT

[2020-05-28 06:27] #18 closed

[2020-06-01 08:34] justjais commented on #20
@ikhan2010 Fix for the same is merged in Cisco ASA collection, hence closing the respective issue.

[2020-06-01 08:34] #20 closed

[2020-06-06 16:59] justjais opened #34 "ASA ACLs resource module not working with host info in either source/destination"
##### SUMMARY

ASA ACLs resource module not working with host info in either source/destination

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acls

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

It should pass and create ACL entry with host-specific ACE

##### ACTUAL RESULTS

[code]

[2020-06-09 14:02] #34 closed

[2020-06-10 11:57] busseax opened #39 "Error when using "any" as source or destination in asa_acls playbook"
##### SUMMARY
Facing an error when trying to set a source or destination to any in playbook while using asa_acls module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
asa_acls

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Debian 10.4
ASA is running version 9.9(1)2

##### STEPS TO REPRODUCE

Collections used:
[code]

Playbook used:
[code]

##### EXPECTED R

[2020-06-11 15:38] #24 closed

[2020-06-15 15:37] su-hy opened #44 "save_when feature"
##### SUMMARY
It would be nice if asa_config module had save_when functionality present in ios_config module.
https://docs.ansible.com/ansible/latest/modules/ios_config_module.html#parameter-save_when

##### ISSUE TYPE
I would like to be able to save config only if it has been modified.

##### COMPONENT NAME
asa_config

##### ADDITIONAL INFORMATION
It would work exactly like it works on ios_config

[2020-06-19 04:44] justjais commented on #39
@busseax Thanks for raising the issue, I have raised a PR #41 to fix the issue, thus closing the issue.

[2020-06-19 04:44] #39 closed

[2020-06-28 02:55] jvanderaa opened #51 "Add PyProject.toml for Black Configuration"
##### SUMMARY

Running black executable should format python as expected.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

black

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

1. Run `black .` which reformats the documents
2. Submit PR
3. Tox fails due to line length differing from 88 characters that defaults in black, tox has ma

[2020-06-30 02:44] rayterrill opened #52 "Unable to gather facts: 'NoneType' object is not subscriptable"
##### SUMMARY
Errors encountered trying to gather facts with the collection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_facts

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ansible host: Ubuntu 18.04.2 LTS
ASA: 9.10(1)30

##### STEPS TO REPRODUCE

ansible-playbook test_rule_new.yml -u username --ask-pass --ask-become-pass -vvvv

[code]

[2020-07-01 14:22] Qalthos commented on #51
So of note is that the line length is not the only variable at hand.

We explicitly use version `19.3b0` of black, because the latest version changes the output significantly enough to hold back. So specifying the line length isn't sufficient to ensure output passes tox tests.

As such, the supported way of making sure your files are correctly formatted is with `tox -e black` which will fetch and

[2020-07-02 02:40] jvanderaa commented on #51
Makes sense. Within my development practices, and I can be convinced to change, but I often would do just `black .` to run and allow the configuration file in the project repo handle the settings involved. That is for just `black` specifically however. I get there is a bunch more at play as well. I can submit a base one if you would like, or proceed however it may look to get across the board. Tha

[2020-07-07 07:11] justjais commented on #52
@rayterrill can u plz share the output of `show version` from your ASA device, as I have tested the scenario in ASA 9.12(3) and it's working as expected for me.

[2020-07-07 17:21] rayterrill commented on #52
[code]

[2020-07-08 09:56] Akasurde opened #55 "asa_og: Issue when using state:replace with Port: 80 in port-groups"
_From @djedovica on Jul 08, 2020 09:12_

##### SUMMARY

I have a port 80 in the port group on the firewall. When I send a task with state:replace the port 80 will always be removed from this group. When I send once again the same task, the port 80 will be created in this port group. By next attempt it will be removed, and then created etc. I get no errors from ansible.

I have also tested with oth

[2020-07-10 07:40] justjais commented on #52
@rayterrill Thanks for pasting the output, can you please test the scenario again with Ansible `2.9.10` and verify if you're still seeing the issue.

[2020-07-10 07:46] justjais commented on #55
@Akasurde for module `asa_og` it has only `state: absent/present` and `asa_og` alternative and newer resource module `asa_ogs` with new support states including replace and more functionality are available, so we can ask the user to test the respective scenario again with the newer `asa_ogs` resource module and verify if the user is still having the issue.

Also, `asa_og` module is a community-con

[2020-07-10 12:59] djedovica commented on #55
@Akasurde The Problem is also with the `state: present` in `asa_og`. In `asa_ogs` I don’t see the Option to create port-groups. Can you create port-groups with `asa_ogs`?

[2020-07-12 00:26] sebrower opened #56 "[asa_acls]Not able to gather facts if any4/any6 is defined in source/destination"
##### SUMMARY

Can't have the gather facts when an ACL contain "any4/any6".
##### ISSUE TYPE
- Feature request

##### COMPONENT NAME

asa_acls
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Used module:
- cisco.asa:1.0.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The tasks must return a list of ACL

##### ACTUAL RESULTS

[code]

[2020-07-13 03:23] Akasurde opened #57 "How to Remove Cisco ASA Firewall boot Variables with Ansible"
_From @reuben3010 on Jul 13, 2020 00:10_

I am running a project of upgrading multiple Cisco 5506X firewalls and my challenge is i have some firewalls that have primary and secondary boot system configured and some firewalls that have one one boot system configured. Given this issue, how do i build the logic that uses ansible to remove the boot variable and update them with new software and not ge

[2020-07-13 06:57] justjais commented on #57
@reuben3010 Thanks for raising the request, but as this doesn’t seem to be actual issue plz be more specific with the use case and share the example scenario to help u out in a better way. Also, just an FYI for any non-specific use case you can always use the `asa_config` module to carry out any configurations related activity.

[2020-07-13 11:50] justjais commented on #56
@sebrower thanks for raising the issue, but I am unable to reproduce the use case scenario you've mentioned in the bug description, so can u share the sample access-list config with which you're seeing the issue. Thanks

[2020-07-14 06:04] sebrower commented on #56
@justjais ,
I have tried to remove all ACL with 'any' and I have always the issue. Is it possible that I use any4 and any6 like below:

access-list TEST extended permit tcp host 172.26.6.226 any4 eq ssh
access-list TEST extended permit tcp object-group rule-dyn-CICD0851-1 any4 eq ssh
access-list TEST extended permit tcp object-group rule-dyn-a911-app any6 eq 9091

[2020-07-14 07:16] justjais commented on #56
@sebrower yes, currently from `asa_acls` resource module side `any4/any6` is not supported. I have updated this issue to be a feature request and will update you with more information once I raise a PR to add the respective feature from the resource module end. Plz use `any` until the respective feature is added/supported.

[2020-07-14 23:15] rayterrill commented on #52
@justjais it did indeed work when upgraded to Ansible 2.9.10. Unfortunately that was just a test to get to asa_acls which is what I'm really after.

Updated my playbook to the following (stolen from https://www.ansible.com/blog/ansible-security-automation-resource-modules):
[code]

That's failing with:
[code]

[2020-07-15 12:42] justjais commented on #52
@rayterrill Thanks for the update, and there's already an issue open wrt to the observed behavior, plz ref: https://github.com/ansible-collections/cisco.asa/issues/56.

I'll try to add the feature fix soon :)

[2020-07-15 12:42] justjais commented on #52
Closing the issue as it's duplicate of #56

[2020-07-15 12:42] #52 closed

[2020-07-15 16:35] rayterrill commented on #52
@justjais thank you sir!

[2020-07-16 14:47] busseax commented on #39
@justjais Sorry for the late reply but I just tested the same playbook with the latest Ansible version (2.9.10) and the latest version of both the cisco.asa and netcommon collection from Ansible Galaxy. The error is still the same: `ValueError: 'any' is not in list`.

Let me know what other information you need to reproduce this behavior.

[2020-07-20 04:45] justjais commented on #39
@busseax Thank you for testing the asa acls resource and I believe you're seeing the similar issue what's raised under https://github.com/ansible-collections/cisco.asa/issues/56, currently `any4/any6` for `ipv/v6` is not supported under source and destination. I'll raise a PR to include the respective feature asap. I'll be updating the respective PR for tracking.

[2020-07-20 12:03] busseax commented on #39
@justjais Thanks for your feedback. I'm not using any4/any6 statements in my playbook. I just set `any: true` for the destination which isn't working.

[2020-07-21 04:37] justjais commented on #39
@busseax ah that's strange then, as I have fixed the issue and have added the TC as well(ref: https://github.com/ansible-collections/cisco.asa/blob/main/tests/integration/targets/asa_acls/tests/cli/merged.yaml#L76) and for the ASA platform over which integration tests are running is passing. Can you plz check and verify if you're using the latest 1.0.0/1.0.1 ASA collections and also that your exis

[2020-07-21 07:47] busseax commented on #39
You were right, I the VPN appliance was configured with any4 values. However, I changed that to be just `any` but that didn't help to resolve the issue.
My current ASA config is:
`sh run access-list ansible_test
access-list ansible_test remark HostA
access-list ansible_test extended permit ip host 1.1.1.1 any
access-list ansible_test remark HostB
access-list ansible_test extended permit ip host 2.

[2020-07-21 08:22] justjais commented on #39
@busseax Thanks for the update and yes, acl facts logic will gather the entire config and not just the config you want to update. I've started working on the implementation part of the issue, and I am hopeful that it should be done by max next week.

[2020-07-21 14:27] mehdirashidi opened #58 "Multiple context support for asa_acls and asa_ogs"
##### SUMMARY
support for multiple context

##### ISSUE TYPE
- since multiple context is supported in asa_config module, it would be great to extend that to asa_acls and asa_ogs modules too

##### COMPONENT NAME
This would be presented as a parameter in each module, same as asa_config
##### ADDITIONAL INFORMATION
Right now if the ASA is running in multiple context mode, these modules are only usab

[2020-07-29 20:14] mandinka opened #62 "Add support for service object groups"
##### SUMMARY

Add support for service object groups

##### ISSUE TYPE
- Feature Idea
Support for service object groups

ASA Config:
object-group service global-dns-ports
 description: global dns ports
 service-object tcp destination eq domain
 service-object udp destination eq domain

##### COMPONENT NAME

cisco.asa.asa_ogs:

##### ADDITIONAL INFORMATION

It would complete the OGS management of t

[2020-07-30 08:02] Dusty-Meg opened #63 "Add support for Object in ACL source and destination"
##### SUMMARY
Allow support to have objects in the acls like the object-groups.

- access-list private_access_in extended permit object-group ansible-inbound object UK-Ansible-Nagios object ansible-net

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
asa_acls

##### ADDITIONAL INFORMATION
Currently you have support for object-groups but we also use objects for our acls.

The below may not be

[2020-08-05 12:04] justjais commented on #63
@Dusty-Meg Thanks for raising the request, but the addition of network object via source/destination is already supported in asa_acls module, plz ref: https://github.com/ansible-collections/cisco.asa/blob/main/plugins/modules/asa_acls.py#L483.

Closing the bug as the feature is already supported, plz feel free to reopen the issue if it doesn't resolve the use-case you've mentioned in the descripti

[2020-08-05 12:04] #63 closed

[2020-08-05 12:14] justjais commented on #62
@mandinka `service_object` OG is already supported from `asa_ogs` resource module, plz ref: https://github.com/ansible-collections/cisco.asa/blob/main/plugins/modules/asa_ogs.py#L123.
Closing the issue as the respective feature is already supported from asa_ogs module. Plz, feel free to reopen the issue as a bug if you're not able to get the desired OUT with the existing `service_object` module pa

[2020-08-05 12:14] #62 closed

[2020-08-05 20:46] felixfontein opened #66 "Inclusion of cisco.asa in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-18 10:58] trishnaguha opened #68 "Add changeling link on README and description in galaxy.yaml"

[2020-08-28 12:24] #68 closed

[2020-09-07 10:21] lvrfrc87 opened #72 "TypeError: argument of type 'NoneType' is not iterable in service-group"
Fix proposed in PR #71

##### SUMMARY
TypeError: argument of type 'NoneType' is not iterable in service-group when service-object not existing in ASA V. 9.6(3)17

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
asa_og

##### ANSIBLE VERSION

[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Object group to be configured on ASA

##### ACTUAL RESULTS
[code]

[2020-10-01 14:46] venu1428 commented on #44
hi @su-hy  is this feature got added to asa_config
I still did not see it in 2.10 version also

[2020-10-05 15:01] omegafoo opened #74 "state: gathered only pulling 'host' entries on standard ACLs"
##### SUMMARY

When using module cisco.asa.asa_acls with state:gathered does not correctly parse and collect standard access-list entries. All entries utilizing subnet and netmask are not gathered. Only 'host' entries are gathered.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
[code]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linu

[2020-10-07 15:43] justjais commented on #44
@su-hy @venu1428 I have raised the PR to add the asked feature from the `asa_config` module end, can you please verify if the PR changes work as you expect.

[2020-10-08 08:55] mumische opened #76 "state:deleted removes wrong object-group"
##### SUMMARY
When using module cisco.asa.asa_ogs with state:deleted does not delete correct object-group. It deletes object-group used in previous task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_ogs:
  state: deleted

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
CentOS Linux release 7.8.2003 (Core)
Tested on ASA software 9.10(1), 9.4(3)

[2020-10-20 07:47] busseax commented on #56
Hi @justjais, is there any update on this? Thank you.

[2020-10-20 09:16] justjais commented on #56
@busseax excuse me for the delay last few month have been super busy, n yes you should expect the fix for the issue in the ASA Oct end release.

[2020-11-14 17:13] su-hy commented on #44
@justjais I would test it, but I am a beginner in Ansible, I don't really know how to install that 1.1.0 version. From what I can tell I still have 1.0 on my system...

[2020-11-17 20:38] omegafoo opened #79 "state: merged fails on standard ACL creation"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_acls

##### ANSIBLE VERSION

[code]
##### ANSIBLE COLLECTION VERSION
[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Red Hat Enterprise Linux release 8.2 (Ootpa)
Cisco ASA 5525X running ASA code 9.4(4)37

##### STEPS TO REPRODUCE

This is an attempt to add a new standard ACL to a Cisco ASA 5525X

[code]
Th

[2020-11-25 14:59] #76 closed

[2020-11-26 09:34] #56 closed

[2020-11-26 14:17] justjais commented on #44
@su-hy `save_when` fix PR is yet not merged, so if feasible can you check the code changes from the PR and apply them locally and run the scenario which will help to verify if the fix is working as expected for you.

[2020-12-03 15:56] busseax opened #82 "State: replaced not replacing all lines of ACL"
##### SUMMARY
When running a playbook to replace a certain ACL with new/modified lines it leaves orphaned lines behind without deleting them.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acls

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Debian 10.6
ASA is running version 9.9(1)2

##### STEPS TO REPRODUCE

Collections used:
[code]

Before state:

[2020-12-23 12:48] justjais commented on #82
@busseax can you plz verify with the `1.0.4` release if you're still facing the same issue, as I've updated `asa_acls` module fixing the code design.

[2020-12-23 12:49] justjais commented on #79
@omegafoo can you plz verify with the `1.0.4` release if you're still facing the same issue, as I've updated `asa_acls` module fixing the code design.

[2020-12-23 12:50] justjais commented on #74
@omegafoo can you plz verify with the `1.0.4` release if you're still facing the same issue, as I've updated `asa_acls` module fixing the code design.

[2020-12-23 13:08] busseax commented on #82
@justjais I tested all the things with the `1.0.4` release and I just looked but couldn't find a newer release to test with.

[2020-12-23 13:15] justjais commented on #82
@busseax ok, so seems like even post changes that went in `1.0.4` you're facing the above-said issue. I'll try to check and push the fix for the issue. Also, were you able to resolve the issues you were having wrt to asa_acls with 1.0.4` (ref: #39)

[2020-12-23 13:42] busseax commented on #82
@justjais yes, the issue in #39 has been resolved since any4 and any6 types are now supported. thanks for that and thanks for looking into this issue. happy holidays!

[2020-12-23 13:46] justjais commented on #82
@busseax thanks for confirming the same and you can expect the fix soon, but as we're planning to do the next release during Jan's end the fix will be queued for release. Happy holidays to you too!

[2021-01-12 09:22] yuandongx opened #83 "Help wanted!"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_config.py
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ubuntu 20

##### STEPS TO REPRODUCE

When I run a command `access-list test-acl-1 extended permit tcp object-group IP_Test host 10.22.5.38 eq 8080` and `IP_Test` does not exist on my device, and then an error should happend, but not.

[2021-01-12 09:27] yuandongx commented on #83
I think the error message is more than 256 and Ansible will not wor will. The reason is that `network_cli` can not deal with much long error message. [Code](https://github.com/ansible-collections/ansible.netcommon/blob/486a01bae9e46b92d9829d2d571e78121965ade4/plugins/connection/network_cli.py#L1014)  wotks not well.

[2021-01-12 09:51] yuandongx commented on #83
### `access-list test-acl-1 extended permit tcp object-group IP_Test host 10.22.5.38 eq 8080` CLI output
[code]

[2021-01-12 22:40] Qalthos commented on #83
This is also a duplicate of ansible-collections/ansible.netcommon#16.

[2021-01-12 22:40] #83 closed

[2021-01-13 08:11] yuandongx opened #84 "False error when config matches stderr_re"
[Line](https://github.com/ansible-collections/cisco.asa/blob/117c6a5c2be5862cb792e444ec92608865fda0bb/plugins/terminal/asa.py#L39) can also match "error:"  which is commented in `access-list remark`, for example:
```access-list test-acl-001 remark error: this is a error test.```
And other line included `error:` will also match it.

[2021-01-13 08:23] yuandongx commented on #84
cc @pabelanger @CaptTrews

[2021-01-13 13:21] Qalthos commented on #84
So the stderr_re list can be overridden on a per-task basis to avoid this sort of thing by following https://docs.ansible.com/ansible/latest/network/user_guide/network_debug_troubleshooting.html#task-failure-due-to-mismatched-error-regex-within-command-response-using-ansible-netcommon-network-cli-connection-type

As `re.compile("error", re.I)` is basically the only thing that catches errors on asa

[2021-01-13 13:22] #84 closed

[2021-01-15 18:24] omegafoo commented on #74
My apologies for taking so long on testing this.

I've installed 1.0.4 and ran a test with our standard ACLs and it appears to be working correctly. I'm going to try to finish my testing and finish confirmation testing this afternoon and give you a final status update later.

[2021-01-15 20:26] omegafoo commented on #79
This appears to now be working correctly. I believe you can close out this issue are resolved.

[2021-01-15 20:26] omegafoo commented on #74
All of my testing shows this issue to have been successfully resolved. Thanks for taking a look at it!

[2021-01-16 06:57] justjais commented on #79
@omegafoo thanks so much for confirming the same.

[2021-01-16 06:57] #79 closed

[2021-01-16 06:58] justjais commented on #74
@omegafoo thanks so much for confirming the same.

[2021-01-16 06:58] #74 closed

[2021-01-27 14:23] Aidar5 opened #86 "Ansible_net_model is not returned in facts"
##### SUMMARY

Return value "ansible_net_model" is absent when requesting ASA facts via CISCO ASA Ansible Collection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cisco.asa.asa_facts – Collect facts from remote devices running Cisco ASA

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

For example: Cisco ASA5508, Cisco FPR2110

##### STEPS TO REPRODUCE

[2021-02-04 00:25] ty733420 commented on #63
Maybe I'm missing something obvious, but I don't see that **network objects** are supported.  **object groups**, yes.  For example when getting a "gather" of an ACE that uses objects, we get results like this, with no source and no destination.
[code]

[2021-02-05 14:43] doge-tech opened #88 "asa_acls: No support for user identity"
##### SUMMARY

The asa_acls module cannot work with ACEs that use user identity, since the acls dictionary does not contain any parameters pertaining to identity. Additionally, any existing ASA access-list commands containing the "user" or "user-group" keywords are not parsed correctly when gathered.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_acls

##### ANSIBLE VERSION

[code]

###

[2021-02-19 17:53] justjais commented on #82
@busseax excuse me for the delay, you should expect the fix sometime during next week.

[2021-03-01 10:02] justjais commented on #82
@busseax Thanks for raising the issue, have raised the PR to address the issue you're facing, it will be released with an upcoming release

[2021-03-01 12:16] justjais commented on #86
@Aidar5 Thanks for raising the issue, can u share the out of `sh version` from your ASA platform.

[2021-03-01 20:01] #82 closed

[2021-03-10 11:23] doge-tech opened #97 "asa_acl: "replace: block" not implemented"
##### SUMMARY

The documentation for the asa_acl module states:
```If the replace argument is set to `block` then the entire command block is pushed to the device in configuration mode if any line is not correct.```

In fact, setting "replace: block" has no effect on the behaviour of the module, which always pushes the changed lines only (regardless of the value of the "replace" argument).

#####

[2021-03-17 15:50] FeoZ opened #99 "asa_ogs: "Unsupported parameters" in network_object"
#### SUMMARY

Module asa_ogs show unexpected behavior while using network_object parameter

#### ISSUE TYPE

* Bug Report

#### COMPONENT NAME

* cisco.asa.asa_ogs

#### ANSIBLE VERSION

    ansible 2.9.9
    python version = 3.8.5 (default, Jan 27 2021, 15:41:15) [GCC 9.3.0]

#### CONFIGURATION

    command_timeout = 60
    host_key_checking = False

#### OS / ENVIRONMENT

Tested against ASA 5525

[2021-03-18 16:00] timothyfranson opened #100 "asa_acls not able to parse ACL lines with a service-object as the destination service"
##### SUMMARY
If a service-group is used for the destination service, it is not parsed properly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_acls

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

N/A - referencing local config file

##### STEPS TO REPRODUCE

**playbook**
[code]
**config_file.txt**
[code]

##### EXPECTED RESULTS

A properly

[2021-03-23 18:14] robertegithub opened #101 "asa_config: Default settings configuration may not be idempotent"
##### SUMMARY

When a setting is at the default already, and the asa_config module is provided that same configuration in the "lines" parameter, it appears to implement the configuration even though it exists already, with the "defaults" parameter set to "yes".

Collection             Version
---------------------- -------
ansible.netcommon      2.0.0
ansible.utils          2.0.1
cisco.asa

[2021-03-23 18:57] robertegithub commented on #44
Has this been released? It's not documented with the 2.0 documentation for cisco.asa.asa_config linked from the main page (https://galaxy.ansible.com/cisco/asa)

[2021-03-24 12:32] justjais commented on #44
@robertegithub I've raised the PR to add the particular feature, so if you can test out the PR #75 changes and update if that works for you as expected, then we can merge the same and release with this months asa collection release.

[2021-03-24 13:03] su-hy commented on #44
@justjais I would test this for you but I am new to Ansible and I don't know which file I should download / replace to test the version you submitted. If you can provide some basic instructions I can try to test.

[2021-03-24 16:35] robertegithub commented on #44
Thank you @justjais. Here is the test I performed:

1) Back up/move the original asa_config.py module in ~/.ansible/collections/ansible_collections/cisco/asa/plugins/modules/
Add the updated file from PR #75 .

2) Run a test without changes to the Ansible playbook, still using "save: yes" and "save: no" in some locations.
Expected output: No difference
Result: Success

3) Leave the ASA config as i

[2021-03-24 17:41] robertegithub commented on #101
Minor additional information:

I increased the logging level on the test ASA to capture "show" commands and monitored the playbook. I have two tasks where the asa_config module is configured to use the "defaults: yes" parameter (as seen in the example above).

There were never any "show running-config all" commands issued:

%ASA-7-111009: User 'enable_15' executed cmd: show running-config
%ASA-7-1

[2021-03-24 17:52] robertegithub commented on #44
Awesome. Thanks @justjais !!

[2021-03-24 18:06] vrelk commented on #86
I would like to add on to this that for mine net_serialnum is returned as null, in addition to the lack of a net_model.
Show version: https://gist.github.com/vrelk/3521f1e67dab0d5b3043fa81e5bbaf43

Show inventory:
[code]

[2021-03-28 06:32] Aidar5 commented on #86
Here is a "sh version" output:

Cisco Adaptive Security Appliance Software Version 9.12(4)
SSP Operating System Version 2.6(1.198)
Device Manager Version 7.13(1)

Compiled on Thu 21-May-20 12:17 PDT by builders
System image file is "disk0:/mnt/boot/installables/switch/fxos-k8-fp2k-npu.2.6.1.198.SPA"
Config file at boot was "startup-config"

Hardware:   FPR-2110, 6586 MB RAM, CPU MIPS 1200 MHz, 1 C

[2021-04-08 13:27] stephenpaynter commented on #99
Having same issue. Any updates on this open issue

[2021-04-08 18:19] robertegithub commented on #44
Just bumping this - looks like it hasn't been released yet. Any updates on possible release for this feature?

[2021-04-09 14:40] benjdudas commented on #99
This issue seems to be triggered by having a object-group mapped with a network-object already configured on the ASA.

ASA config prior to running the task:
[code]

Result:
[code]

[2021-04-12 10:44] justjais commented on #99
@FeoZ @stephenpaynter Thanks for logging the issue, I've raised PR #103 to fix the issue you're facing. Can you please verify if the fix works as expected.
Once merged, it'll be queued for April release.

[2021-04-12 12:48] stephenpaynter commented on #99
Please advise how to verify this fix

[2021-04-15 22:02] robertegithub opened #104 "Support for login method of privilege escalation"
##### SUMMARY

Provide a parameter that will enable use of the "login" feature of ASA for privilege escalation.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

Applicable to all modules where privilege escalation is used

##### ADDITIONAL INFORMATION

The "become_method" for ASA seems to be limited to "enable". If a certain aaa command is not configured, this requires a different password

[2021-04-23 20:24] devon-mar opened #105 "asa_acls fails with replaced when trying to remove an ACE with an IPv6 source address"
##### SUMMARY

asa_acls with `state: replaced` fails to remove ACEs with IPv6 source addresses.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

ASA 5506 9.15(1)10

##### STEPS TO REPRODUCE

1. Add a ACE with an IPv6 source host on the ASA that is not in the Ansible ACL config
[code]
2. Run the module with `st

[2021-04-26 10:47] stephenpaynter commented on #99
Has this been merged for pull via collections yet?

[2021-04-26 11:11] justjais commented on #99
@stephenpaynter it'll be merged today and available with `devel` version over the galaxy for testing, once out I'll revert back.

[2021-04-26 17:21] #99 closed

[2021-04-26 17:41] justjais commented on #99
@stephenpaynter PR with the fix is merged, to verify the fix you can clone the repo and test the respective bug scenario.

[2021-04-29 17:33] justjais commented on #99
@stephenpaynter Latest 2.0.1 ASA collection with the issue fix is available over galaxy now: https://galaxy.ansible.com/cisco/asa

[2021-04-30 06:26] sagarphadatare44 opened #107 "cisco.asa.asa_facts fails to pull object groups (ogs) when object group on the device has 'group-objects' mentioned in it."
##### SUMMARY
When we try to gather object groups from the device using cisco.asa.asa_facts module, it is failing with below error. We observed that on ASA device we have group_objects  are called under some object groups. And mostly this error is stating the same.

"msg": "Unsupported parameters for (basic.py) module: group_object found in config -> object_groups. Supported parameters include: de

[2021-04-30 10:57] justjais commented on #107
@sagarphadatare44 Thanks for logging the issue, if feasible can u share the OGs config for triaging the issue.

[2021-04-30 12:37] sagarphadatare44 commented on #107
@justjais

You can already see the object group configuration in invocation.
But error is mostly because of object group : object_groups": [
                        {
                            "name": "ICMP",
                            "group_object": "ICMP_UNREACHABLE",
                            "icmp_type": {}
}
Because above object group, 'group_object' is defined and the error is complain

[2021-05-05 05:34] sagarphadatare44 commented on #107
@justjais,

Are you able to reproduce this issue? any update on this?

[2021-05-11 06:49] phpipam commented on #107
Hi, same issue here with group_object, anything I can do to help debugging ?

Ansible version: `ansible 2.10.4`
ASA version: `9.13(1)2` - tested some older releases also

[2021-05-11 07:41] phpipam commented on #107
Hi @justjais,

here is asa config snippet:
[code]

group-object is causing issue I believe. The problem is I cannot execute any command as it always fails with the same error, I dont need group-objects as such via ansible but they exist in existing configuration.

[code]

[2021-05-12 12:24] justjais commented on #44
FIx with the PR is merged and released with the ASA collection version `2.0.1`

[2021-05-12 12:24] #44 closed

[2021-05-13 20:22] #105 closed

[2021-05-14 12:11] justjais commented on #107
@sagarphadatare44 @phpipam Thanks for raising the issue, and yes the issue was indeed happening coz the implementation for `group-object` was missing from `ogs` RM. I've opened a PR to fix the behavior and once merged it'll be queued for the next release.

Meanwhile, if anyone can confirm that the fix works as expected that'd be great. Thanks

[2021-05-17 07:30] #107 closed

[2021-05-17 08:04] phpipam commented on #107
Hi @justjais , sorry for late reply.

I just checked and it seems ok so far, I am able to connect to asa.

[2021-05-17 08:55] sagarphadatare44 commented on #107
@justjais, Do you have any tentative date for this version to be released?

[2021-05-17 09:07] justjais commented on #107
@sagarphadatare44 ASA collection release is planned for today.

[2021-05-20 19:43] robertegithub opened #114 "asa_ogs and asa_acls: gathered status results in ImportError for jinja2"
##### SUMMARY

When trying to run the asa_ogs or asa_acls modules with the "status: gathered" parameter as illustrated in the documentation examples, the error, "ImportError: jinja2 is required but does not appear to be installed" is received.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cisco.asa.asa_ogs
cisco.asa.asa_acls

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

####

[2021-05-24 12:57] justjais commented on #114
@robertegithub for `asa_ogs` and `asa_acls` RM to work as expected jinja2 library is required, can you plz `pip install jinja2` and try again.

[2021-05-24 14:12] robertegithub commented on #114
Yes, as I mentioned under the "OS / ENVIRONMENT" section, jinja2 is installed and used often in playbooks by calling "template" methods.

[2021-05-24 17:07] justjais commented on #114
@robertegithub thanks for the update, and it definitely seems to be an environment issue, so can you please try with virtual python env or alternatively you can also try explicit mentioning of the [python interpreter] (https://docs.ansible.com/ansible/latest/reference_appendices/interpreter_discovery.html#interpreter-discovery)

[2021-05-24 22:10] robertegithub commented on #114
@justjais Thank you for the help. It was indeed an environmental problem, and my mistake

[2021-05-24 22:10] #114 closed

[2021-05-26 10:05] justjais opened #115 "Enable Cisco ASA Botnet Traffic Filter via dynamic/static DB configuration"
##### SUMMARY

Enable Cisco ASA Botnet Traffic Filter via dynamic/static DB configuration.

Malware that attempts network activity such as sending private data (passwords, credit card numbers, keystrokes, or proprietary data) can be detected by the Botnet Traffic Filter when the malware starts a connection to a known bad IP address. The Botnet Traffic Filter checks incoming and outgoing connection

[2021-05-28 21:06] robertegithub opened #116 "asa_ogs: Error when parsing object-group protocol containing an integer value"
##### SUMMARY

When a "protocol" object-group contains a member like:
protocol-object 16
the asa_ogs task fails with a fatal error

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

asa_ogs

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

MacOS using python 3.8, but also tested from Ansible Tower using python 2.7
# path/.ansible/collections/ansible_collection

[2021-05-31 15:06] justjais commented on #116
@robertegithub Thanks for raising the issue, and I've raised the PR to fix the observed issue, and once merged it'll be queued for June'21 release.

[2021-06-03 13:08] justjais commented on #101
@robertegithub Thanks for logging the issue. Yes, the default configuration settings are not taken to account for checking the idempotency comparison and it checks with `sh running-config` and not with `sh running-config all`.

Currently, we're don’t have any plans for implementing the same anytime soon. We'll update the collections if and when the logic will be implemented.

[2021-06-03 13:08] #101 closed

[2021-06-03 14:23] #116 closed

[2021-07-06 13:25] justjais commented on #115
@sebrower, @busseax, @robertegithub, @omegafoo, @FeoZ, @devon-mar, @sagarphadatare44 Hope you all doing well.I've opened this issue request around ASA botnet feature, so wanted to check with people like

[2021-07-06 17:43] robertegithub commented on #115
Great idea - the more features that can be automated the better.

[2021-07-07 06:22] justjais commented on #115
@robertegithub cool, thx for your swift response. Can you plz let me know of few insights about the particular feature:
- Have you used the feature before?
- How do you use the feature, are you combining this with any other feature to solve a particular use case?
- Do you want any specific use case to target with automating the botnet traffic filter use-case?

This is also, intended for all whom I

[2021-07-07 14:12] busseax commented on #115
@justjais Thanks for the heads up. We are not using this feature and since we are only using our ASAs as VPN endpoints we probably won't use it in the near future.

[2021-07-07 17:36] devon-mar commented on #115
Like what @busseax said, I'm only using ASAs as VPN headends. Most people running a SIEM will probably be running NGFWs at this point.
I think it would be more worthwhile to work on other modules like `asa_static_routes`, or `asa_interfaces`, modules for ASA features that are more commonly used.

[2021-07-07 17:47] justjais commented on #115
@busseax @devon-mar thanks for your feedback, much appreciated. This definitely helps while committing for a new features.

And @devon-mar, `asa_static_routes` is under my radar, I'll soon update the progress on it, though I am not very sure about the `interfaces` module.

[2021-07-08 05:26] justjais commented on #115
Closing the feature issue as the use-case doesn’t seem to be worth implementing as this feature is taken care of mostly by NGFW.

If still anyone strongly feels that botnet traffic filter is worth automating, please go ahead and re-open the issue with relevant reasoning.

[2021-07-08 05:26] #115 closed

[2021-07-12 15:46] cjhelmkamp commented on #86
I have also encountered this problem. I have included a work around as well as the output of show version on the ASA I am working on.

/home/USERNAME/.ansible/collections/ansible_collections/cisco/asa/plugins/cliconf/asa.py
`            match = re.search(r"^Model Id:\s+(.+) \(revision", data, re.M)
            if match:
                device_info["network_os_model"] = match.group(1)
            #

[2021-07-26 16:19] svluder commented on #100
Hallo Sumit,

greetings from Cisco in Germany. I am currently working with a customer who encounters the issue described here and would like to ask you, if you have any plans / timelines associated fixing this issue.
I might be able to offer you my support in implementing this via a pull request, but this would only make sense, if you don't have any plans yet to do it yourself. This offer also dep

[2021-07-26 17:37] justjais commented on #100
@svluder Thanks for bringing this up, as it somehow slipped my track. I can check and update you on the exact status of the issue by this week.

[2021-07-26 17:53] svluder commented on #100
Thank you, Sumit,

happy to wait for your feedback.

From: Sumit Jaiswal ***@***.***>
Sent: Monday, July 26, 2021 7:37 PM
To: ansible-collections/cisco.asa ***@***.***>
Cc: Sven Lueder (svluder) ***@***.***>; Mention ***@***.***>
Subject: Re: [ansible-collections/cisco.asa] asa_acls not able to parse ACL lines with a service-object as the destination service (#100)

@svluder<https://github.com/svl

[2021-07-27 08:40] justjais commented on #100
@svluder can you share the expected result for the issue, as I see currently `asa_acls` resource module `object` isn't supported param and that's the reason module is not parsing and showing it under parsed output.
Based on the expected output I can plan on adding the respective param support and fix a timeline for the issue.

[2021-07-29 12:35] lucab85 commented on #100
+1

[2021-08-04 11:39] svluder commented on #100
Hallo Sumit,

let me give try to answer your questions as best as possible.

Please notice that the following explanations refer to cisco.asa.asa_ogs and cisco.asa.asa_acls Ansible modules, whereas this issue is opened against cisco.asa.asa_acls.
I hope this is not a problem. Please let me know, if I should open a separate issue against cisco.asa.asa_ogs as well.

My customer's use case is the fol

[2021-08-04 11:46] pfuetz commented on #100
And, as an additional remark. This DID work in the "older" modules cisco.asa.asa_og and cisco.asa.asa_acl (without the "s" at the end. And, because these older modules WILL be deprecated and shall be replaced by the newer modules, the customer does expect, that the newer modules do at least behave like the old modules.

[2021-08-04 15:00] justjais commented on #100
@svluder thanks so much for the detailed response, I'll check and work to put up a PR max by next week with the fix.

@pfuetz certainly and as this seems to be an issue it'll be fixed and released with the Cisco ASA collection August release.

[2021-08-08 17:16] tvoretz opened #120 "Problem in port range and destination address ACL parsing"
##### SUMMARY

There are issues with simple ACL parse. Please look at "destination" section.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_acls

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Server 21.04

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[2021-08-08 18:05] tvoretz opened #121 "Problem when object-group contains dot "." symbol"
##### SUMMARY

When object-group contains dot "." symbol, "address" and "netmask" appears but should not.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_acls

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Server 21.04

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

##### AC

[2021-08-08 18:33] tvoretz opened #122 "No destination when source port range present"
##### SUMMARY

There is no destination section when source port range present in ACL

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_acls

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Ubuntu Server 21.04

##### STEPS TO REPRODUCE

[code]

[code]

##### EXPECTED RESULTS

[code]

##### ACTUAL RESULTS

[code]

[2021-08-10 08:35] #97 closed

[2021-08-17 16:30] timway commented on #122
@justjais I am impacted by this but instead of on `state: parsed` just on `state: merged`. I dropped a debugger before [this line](https://github.com/ansible-collections/cisco.asa/blob/46b06f9f792d2a02f7f5c29f0b5226368153f2e3/plugins/module_utils/network/asa/rm_templates/acls.py#L64) and noticed:

[code]

So as it moves into the `cmd` assignment statement it fails on trying to add a dictionary to

[2021-08-18 04:18] justjais commented on #100
@svluder want to keep you posted on the work for this PR, this issue WRT to OGs will require a model update in order to fix the issue in an expected manner, I should be able to raise the PR with the fix by EOW.

[2021-08-20 14:44] timway opened #124 "asa_ogs KeyError Exception on Empty Object-Group"
##### SUMMARY

When a network object-group exists but does not contain any network-object's you get a KeyError on 'network-object' that is not caught. This configuration is valid in the ASA so it should be handled.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]
Same problem with Ansible 2.9.23 on Python 3.9 as well.

##### COLLECTION VERSION

[code]

##### CONF

[2021-08-23 06:07] justjais commented on #120
@tvoretz Thanks for raising the issue, I've raised PR #125 to fix the issue, can you plz verify if the PR fixes the issue you're facing.

[2021-08-23 06:07] justjais commented on #121
@tvoretz Thanks for raising the issue, I've raised PR #125 to fix the issue, can you plz verify if the PR fixes the issue you're facing.

[2021-08-23 06:08] justjais commented on #122
@tvoretz @timway Thanks for raising the issue, I've raised PR #125 to fix the issue, can you plz verify if the PR fixes the issue you're facing.

[2021-08-23 13:28] justjais commented on #124
@timway Thanks for raising the issue, I've raised a PR with the fix, and if feasible plz verify if the PR fix resolves the issue you're facing.

[2021-08-24 15:40] timway opened #127 "asa_acls Duplicate Element Doesn't Fail or Move Correctly"
##### SUMMARY

When specifying a `line` in the ACE entry the module reports changed if that ACE is not present at that line but fails to correctly move it. This makes the play not idempotent because each run will report changed and fail to move the line successfully.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGU

[2021-08-24 21:49] timway opened #128 "asa_ogs The 'host' Key Does Not Model IPv6 addresses (loss of idempotence)"
##### SUMMARY

The 'before' and 'after' state does not show IPv6 addresses for 'host' keys. This causes every execution of a play to try and add the IPv6 host entry. It appends to 'commands' correctly and is sent to the device but because it is not in the model it reports changed. It also sends commands that result in an error at the CLI to the box.

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2021-08-27 13:13] matt852 opened #132 "Incorrect documentation for "passwords" variable"
##### SUMMARY

The description for the `passwords` parameter is incorrect.  It was copy/pasted directly from the `context` parameter.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

doc_fragments/asa.py

##### ANSIBLE VERSION

[code]

[2021-08-30 13:04] #120 closed

[2021-08-30 15:52] #124 closed

[2021-08-30 16:34] #128 closed

[2021-08-30 16:35] #132 closed

[2021-08-30 16:56] justjais commented on #127
PR with the fix merged, closing the bug.

[2021-08-30 16:56] #127 closed

[2021-08-30 16:56] justjais commented on #122
PR with the fix merged, closing the bug.

[2021-08-30 16:56] #122 closed

[2021-08-30 16:56] justjais commented on #121
PR with the fix merged, closing the bug.

[2021-08-30 16:56] #121 closed

[2021-08-31 12:57] Copter64 commented on #72
We are seeing the same lack of stdout and None error when running the command module.  We are running ISE for auth and seeing a similar effect.  But when running it on a lab device with local auth we are not seeing the same error.

[2021-09-09 08:58] svluder commented on #100
Good afternoon, Sumit,

can you let us know, if this change already made its way to release ?

Thanks
Sven

[2021-09-09 09:59] justjais commented on #100
@svluder hello, n please excuse me but I haven't been able to finish working on the issue, as last few weeks have been busy preparing for AnsibleFest.
But plz be assured I'll raise the PR with the fix by next week.

[2021-09-13 05:23] felixfontein commented on #66
Closing since Ansible 2.10 has long been released. (Ansible 5 is coming up next.)

[2021-09-13 05:23] #66 closed

[2021-09-14 14:13] justjais commented on #100
@svluder I've raised the PR to fix the issue WRT to `object-group`, once merged you should be able to gather facts for object-group as expected, facts run with the PR fix:
[code]
I'll raise a different PR for fixing the ACLs issue. Lemme know if the facts run is as expected.

[2021-09-20 11:49] lvrfrc87 commented on #72
This should fixed in https://github.com/ansible-collections/cisco.asa/pull/71. Please give a try and reopen if needed.
Thanks!

[2021-09-20 11:49] #72 closed

[2021-09-20 12:18] justjais commented on #100
@svluder I've added the fix for `asa_acls` in PR #139, if feasible can you please verify both the OGs and ACLs PR if it works as expected and resolves the issue.
cc. @pfuetz @lucab85

[2021-09-21 08:10] svluder commented on #100
Hi Sumit,

thank you a lot for the fix. We will test it in the next couple of days and report the results.

Thanks
Sven

[2021-09-24 08:20] justjais commented on #100
@svluder Thanks for the update, and I would request if you can confirm the fix for both OGs and ACLs asap as I want to push respective PRs changes in Cisco ASA Sep'21 release which is planned during next week.

[2021-09-29 05:53] justjais commented on #100
@svluder just a reminder I need to go ahead with the Cisco ASA collection release for this month (i.e. Sep'21) and as this particular fix is a major change for this release, I'd really appreciate, if I can get your feedback on the same and if the fix is working as expected.

[2021-09-29 07:23] svluder commented on #100
Hallo Sumit,

the customer is informed and working on the verification of the change. We will keep you posted as soon as the results are known. I am sorry for any inconvenience this may cause on the release timelines.

Thank you very much for your support and I will notify you asap about the results.

Best regards
Sven

[2021-09-29 13:32] jguirlinger commented on #86
Thanks, was useful, in my case I had to adapt your regex ( "([\w-]+)" instead of "(\w+)" ) because some of my devices are Firepower (FPR-2140 for example )

[2021-10-07 07:35] #100 closed

[2021-10-15 09:40] viktklass commented on #86
@jguirlinger
works perfect for me, thx! :)
pull-request?

[2021-11-25 07:36] tigryss opened #144 "Prompt issue with"
##### SUMMARY
I try to call remote ssh command but the command change a prompt from "#" to " /dirname #" so ansible send an error  command timeout triggered, can someone help me please?
it's a firepower, and I need to use scope command to change the object. if I try show config or version it's working well, but if I try scope then I get timeout and the only what I found that the prompt is differen

[2022-01-13 20:50] jhholbert opened #145 "Not able to gather ogs"
##### SUMMARY

When trying to run cisco.asa.asa_ogs, I constantly get the following error, `msg: 'argument start is of type <type ''str''> found in ''config -> object_groups -> services_object -> destination_port -> range''. and we were unable to convert to int: <type ''str''> cannot be converted to an int'`
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

#####

[2022-01-19 14:21] justjais commented on #145
@jhholbert Thanks for raising the issue, would it be feasible for you to share the ASA OGs config, for us to troubleshoot further.

[2022-01-20 06:48] justjais commented on #144
@tigryss Can you plz share the playbook with which you're seeing the following failure?

[2022-01-21 06:23] tigryss opened #146 "@tigryss Can you plz share the playbook with which you're seeing the following failure?"

[2022-01-21 06:34] tigryss commented on #144
@justjais  here is the code

<code>
- name: "Run default Tacacs conf on firepower"
   debugger: on_failed
   when:
     - inventory_hostname == fwname
     - device == 'fpr'
   asa_command:
     commands:
      - scope security
      - show clock
      - scope console-auth
      - exit
      - scope default-auth
      - exit
      - scope tacacs
      - exit
      - exit
    register: output_def

[2022-01-21 06:35] #146 closed

[2022-01-26 08:17] Andersson007 opened #147 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-28 16:27] ZachHoiberg opened #148 "Prompt/Response similar to iosCommand"
##### SUMMARY
It would be helpful if we could prompt and respond to issue commands such as crypto ca import CERT certificate.

This has been implemented on iosCommand.

Currently, it simply times out when the ASA prompts for a password, yes\no, etc.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
cisco.asa.asa_command

##### ADDITIONAL INFORMATION
  cisco.asa.asa_command:
    commands:

[2022-02-01 08:11] NilashishC opened #149 "[facts] change `gather_subset` default to `min`"
##### SUMMARY
The default for `gather_subset` was supposed to be changed to `min` from `!config` starting from ansible 2.11. This change hasn't been implemented yet.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
asa_facts.py

[2022-02-01 19:34] pranav-bhatt commented on #145
Hi @jhholbert ! I went ahead and tried reproducing your error, but everything is working as expected in my test environment. Although I am using ASAv 9.14.(2)15 for my testing, I believe the functionality has not changed for ASAv 9.16(1)28.

Python version: 3.8.12
Ansible Version (python package): ansible [core 2.12.2]
ASA Collection Version: v2.1.0

Inventory File:
[code]
Playbook content:
[code]

[2022-02-02 08:05] pranav-bhatt commented on #144
Hi @tigryss! Could you try with this module instead and see if the error still occurs? [Firepower Threat Defense(FTD) Ansible](https://github.com/CiscoDevNet/FTDAnsible#:~:text=README.md-,FTD%20Ansible%20Modules,the%20development%20and%20testing%20aspects)

[2022-02-02 11:19] tigryss commented on #144
I have only SSH port and no HTTP(S) nor REST API

[2022-02-02 11:35] justjais commented on #144
@tigryss Can you please raise the issue over the above linked FTD collections, as I believe the Cisco Firepower team can look into the said issue and provide you the resolution that's more suitable to your environment.

[2022-02-07 10:15] pranav-bhatt commented on #145
Hey @jhholbert, since we haven't heard back from you, we'll be closing this issue. If the problem arises again, feel free to open another issue.

[2022-02-14 01:21] nfukuno1983 opened #151 "[cisco.asa.asa_command] returns unexpected error by "show tech-support""
##### SUMMARY
We are trying to run show tech-support via ansible.  We are using the cisco.asa.asa_command module, but receive an error.
##### ISSUE TYPE
- Bug Report
##### COMPONENT NAME
cisco.asa.asa_command module
##### ANSIBLE VERSION
ansible-playbook 2.9.15
python version = 3.9.1
##### COLLECTION VERSION
cisco.asa  2.1.0
##### STEPS TO REPRODUCE
snipped playbook
[code]
##### EXPECTED RESULTS
r

[2022-02-16 13:12] justjais commented on #151
cc. @pranav-bhatt

[2022-02-18 09:34] agulida commented on #145
Having the same issue.
The root cause for this is that ASA can convert well-known ports into protocol names in the configuration.
[code]
[code]
I have fixed this by changing a variable type from integer to string in the data structure file cisco.asa/plugins/module_utils/network/asa/argspec/ogs/ogs.py

[code]

[2022-03-04 17:53] ro8harp commented on #86
I was having this same issue and came across this thread. Thanks for the workaround @jguirlinger, works now.

[2022-03-15 18:17] yaroslavhlushko opened #152 "[cisco.asa.asa_ogs] module execution fails on ASA configuration with service object port range of type <str> (in module coded as <int>)"
##### SUMMARY
When trying to use module cisco.asa.asa_ogs to manage object groups it fails if the ASA has an object group with a string port in a range.
e.g.
[code]
The ASA automatically substitutes well-known port numbers to protocol keywords (5060->sip), which is 'str' type and not 'int'
[code]
cisco/asa/plugins/module_utils/network/asa/argspec/ogs/ogs.py (3 occurrences in the file)
[code]
#####

[2022-03-15 20:19] yaroslavhlushko opened #153 "[cisco.asa.asa_ogs] module execution fails on ASA configuration with object group named with only digits"
##### SUMMARY
When trying to use module cisco.asa.asa_ogs to manage object groups it fails if the ASA has an object group with only digits in its name.
e.g.
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cisco.asa.asa_ogs
##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco ASA OS version 9.9(2)32 (and many other)

[2022-03-21 08:45] Andersson007 opened #155 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-04-12 17:59] #155 closed

[2022-04-18 06:34] justjais commented on #152
@yaroslavhlushko Thanks so much for raising the bug, I've raised the PR to fix the issue, and once merged it'll be queued for the April release.
If feasible, it'd be great if you can test the PR and confirm if the PR fix works as expected.

[2022-04-18 06:35] justjais commented on #153
@yaroslavhlushko Thanks so much for raising the bug, I've raised the PR to fix the issue, and once merged it'll be queued for April release.
If feasible, it'd be great if you can test the PR and confirm if the PR fix works as expected.

[2022-04-18 09:10] yaroslavhlushko commented on #153
@justjais Thank you! I just tested this PR 158 and it fixes both issues: port ranges with strings and object names with digits work flawlessly on a real network.

[2022-04-18 09:10] #153 closed

[2022-04-18 09:14] yaroslavhlushko commented on #152
@justjais Thank you! I just tested this PR 158 and it fixes both issues: port ranges with strings and object names with digits work flawlessly on a real network.

[2022-04-18 09:14] #152 closed

[2022-04-18 09:50] justjais commented on #153
@yaroslavhlushko Thanks for the confirmation, fix shall be available with collection April's release

[2022-05-06 15:55] dmsimard opened #163 "Sanity tests failing in cisco.asa"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against cisco.asa 2.1.0 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### ANSIBLE VER

[2022-05-11 13:26] justjais commented on #163
@dmsimard can u verify the sanity failure again with latest released version of `3.0.0` as the issue described above were fixed via [PR](https://github.com/ansible-collections/cisco.asa/pull/158/files#diff-d74beb5a6da525e3b19bc3e814bf5498eb31c03cd8a45332869bd767fbb08e43R25)

[2022-05-16 17:28] KyleFryer-Sage commented on #145
Hi, I am also experiencing this same issue, and agree with @agulida's root cause analysis. However, the proposed fix does not work for me (well, perhaps does not apply, as the `start` and `end` options are already listed as type `str`).

It would be good if this could be investigated further, perhaps conducting a `gather` test with an existing 'have' configuration with existing well-known ports co

[2022-05-18 05:11] mariolenz commented on #163
@justjais As far as [I can see](https://github.com/ansible-community/community-topics/issues/96#issuecomment-1129386031), the tests don't fail anymore in ansible 6.0.0a3.

[2022-05-18 10:26] miff2000 opened #165 "[cisco.asa.asa_ogs] module execution fails on ASA configuration with port range of type <str> (in module coded as <int>)"
##### SUMMARY

This same issue that was raised in #152 is affecting service object groups where a port range is specified. Specifically this configuration causes the module to fail:

[code]

The module spec wants the range to be defined using integers, but the concatenation process to create the config file fails.

It's this `range:` section that's causing the issue. If I comment it out, the confi

[2022-05-18 12:22] miff2000 opened #166 "[cisco.asa.asa_ogs] Incorrect service object groups created (2 instead of 1)"
##### SUMMARY

When I check the `rendered` output from the `asa_ogs` module, I see two `object-group`s of type `service` are created. The first has no protocol specified, and the second has type `tcp`.

[code]

The line `object-group service ukfast.enterprise-director.inbound.ports.tcp` should not have been rendered.

Here's the module input:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT

[2022-05-18 16:16] dmsimard commented on #163
Thank you for fixing the tests, much appreciated !

[2022-05-18 16:16] #163 closed

[2022-05-31 05:45] ginigangadharan opened #171 "cisco.asa.asa_ogs - unable to create service-objects - invalid input error"
##### SUMMARY

Unable to create service object using `cisco.asa.asa_ogs` module. (`object_type: service`)
(network object creation is working fine with the Same module - `object_type: network`)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

cisco.asa.asa_ogs

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

Cisco ASA 9.8.1

[2022-06-13 05:59] justjais commented on #165
@miff2000 Thanks so much for raising the issue, will triage and update the issue asap

[2022-06-13 05:59] justjais commented on #166
@miff2000 Thanks so much for raising the issue, will triage and update the issue asap

[2022-06-13 05:59] justjais commented on #171
@ginigangadharan Thanks so much for raising the issue, will triage and update the issue asap

[2022-06-13 11:15] justjais commented on #171
@ginigangadharan I've tried the play mentioned under the issue description but I am unable to reproduce the said error:
Play used:
[code]

Output:
[code]
Also, as I see in the manual config you're trying to configure `port-object` under service object but via play you're trying to use `destination_port` which is unexpected, for configuring `port-object` you need to use `port-object` param like:
[c

[2022-06-13 11:59] justjais commented on #165
@miff2000 can you plz verify the fix PR and confirm if the fix works for you as expected.

[2022-06-13 11:59] justjais commented on #166
@miff2000 can you plz verify the fix PR and confirm if the fix works for you as expected.

[2022-06-14 07:57] ginigangadharan commented on #171
@justjais

[code]
that's is a good catch and thank you.

I was following the doc and missed that.

[code]

[2022-06-16 04:08] ginigangadharan commented on #171
@justjais

Noticed the below issue; the `object-group service` command is triggering twice (with and without `tcp`) which is not expected.

**Task**

[code]

[code]

- only the first command will be executed and I can see the object group `test_object2` without `tcp` !

Full output

[code]

And indeed it will fail as below when I put `state: merged` !

[code]

Am I missing anything ?

[2022-06-16 05:39] justjais commented on #171
@ginigangadharan yes, that's a bug and was raised [here](https://github.com/ansible-collections/cisco.asa/issues/166), also [PR](https://github.com/ansible-collections/cisco.asa/pull/173) is raised to fix the said issue and it'd be great if you can verify the PR fix and confirm if it resolves the issue.

[2022-06-28 07:40] #165 closed

[2022-06-29 08:53] ginigangadharan commented on #171
@justjais thank you.

[2022-06-29 11:58] #166 closed

[2022-06-29 11:59] justjais commented on #171
Sure, and the PR with the fix is merged and is available with the `3.1.0` release.

[2022-06-29 11:59] #171 closed

[2022-08-01 11:20] kaiseranton opened #176 "[cisco.asa.asa_ogs] Sorting objects groups lead to problems"
##### SUMMARY

When the objcet_groups are getting sorted while parsing the running configuration into a json, then it will lead to problems.
While trying to use the parsed json to configure a device then it will lead to a problem, that subgroups might be needed but will be configured later because of the sorted names.
Example:
on ASA:
object-group network BGroup
  network-object host 192.168.1.1
o

[2022-08-10 09:18] justjais commented on #176
@kaiseranton Thanks for raising the issue, but I am unable to reproduce the mentioned bug scenario with the following ASA config and Ansible play.

OG config:
[code]
Ansible play:
[code]
Ansible ply run output:
[code]

Above, is the expected output for the respective scenario. Let me know if you still have the issue with all of the required details.

[2022-08-10 09:25] kaiseranton commented on #176
Hello @justjais
This output is kinda incorrect, If you try to use this output for configuring a different ASA then you will get a problem because of the sorted groups.
He will try to configure AGroup with with subgroup BGroup - BGroup dosent exist on a new ASA.
This could be fixed if the output woudln't be sorted, then he would configure first BGroup with the IP and afterwards the AGroup with the

[2022-08-10 09:30] kaiseranton commented on #176
Another way to Test it without 2 ASAs is:
0. Configure the BGroup & AGroup on your ASA by Hand
1. Run a play with state "gathered" and save the output
2. Delete by hand the 2 groups from the ASA
3. Run a play with state "replaced" and your saved output
 - You will get an error because of the sorted groups

[2022-08-10 12:26] justjais commented on #176
@kaiseranton Thanks for sharing the steps to reproduce. I've used the steps to reproduce with 1 ASA, and below is the observation I've made.

1. Run a play with state "gathered" and save the output:
ASA device config:
[code]
Gather Play run:
[code]

2. Delete the 2 groups from the ASA manually
ASA device config:
[code]

3. Run a play with the state "replaced" and your saved output
Ansible play:
[c

[2022-08-10 12:39] kaiseranton commented on #176
Hi @justjais,
thank you for you quick response!
then I ment the `warning` from cisco `Specified group object (BGroup) does not exist`
The problem is, that we use one firewall as "template" and we try to mirror the configuration to many other ASA Firewalls.
So that's why we called it a bug, because in the state `gathered` there is no need for sorting.
`OGs module does not consider order of creation

[2022-08-10 13:54] justjais commented on #176
@kaiseranton sure, let me check with the team and I'll update the thread ASAP. That said I wanted to check if there's any particular issue that you cannot run the same play again twice, as running the play twice would configure the box as expected in this scenario.

[2022-08-10 13:55] kaiseranton commented on #176
Thank you!

[2022-08-23 02:00] ginigangadharan opened #177 "cisco.asa.asa_command module not working with backup command"
##### SUMMARY

Since the `cisco.asa.asa_config` module backup is downloading the backup to localmachine, we are using the `cisco.asa.asa_command` module and run arbitrary commands to take the backup directly to the TFTP server as follows.

[code]

But the command fails with below message

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`asa_command`

##### ANSIBLE VERSION

[code]

###

[2022-09-06 13:43] ginigangadharan commented on #177
Hi @justjais
Yes, I am able to run the same command from the switch console manually without any issue and the command will complete successfully.

[2022-09-06 13:46] justjais commented on #177
@ginigangadharan Thanks for the quick response, I'll triage the issue and update asap

[2022-09-06 13:53] ginigangadharan commented on #177
Thank you @justjais
I am trying from my side as well but couldnt find the issue.

I will wait for your update.

[2022-09-14 07:02] ginigangadharan commented on #177
Hi @justjais,
Just checking if you find any good news on this.

Thank you :D

[2022-09-14 10:01] moseley1983 opened #179 "ASAv lab not allowing show command abbreviation "sh access-list""
##### SUMMARY
When I run the cisco.asa.asa_acls module I get the below error:

TASK [Merge provided configuration with device configuration] ******************************************************************** fatal: [192.168.0.140]: FAILED! => {"changed": false, "msg": "sh access-list\r\n ^\r\nERROR: % Invalid input detected at '^' marker.\r\n\rASA> "}

My suspicion is the module doesn't like the

[2022-09-24 22:17] moseley1983 opened #180 "acls module returning "Unsupported parameters" error"
##### SUMMARY
In AWX 17.1.0 when using the cisco.asa.asa_acls module I get error:
TASK [ASA_ROLE : ACLTEST 2] ****************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Unsupported parameters for (cisco.asa.asa_acls) module: provider Supported parameters include: config, running_config, state"}

##### COMPONENT NAME
cisco.asa.asa_acls

##### ANSI

[2022-09-26 09:26] Andersson007 opened #181 "Collection CI related actions needed"
##### SUMMARY
Relates to https://github.com/ansible-collections/news-for-maintainers/issues/24.

It's been detected that this repository contains `ignore-2.14.txt` file but not `ignore-2.15.txt` file.

Actions needed:
- Copy `tests/sanity/ignore-2.14.txt` to `tests/sanity/ignore-2.15.txt` otherwise the CI will get failing.
- If it's not done yet, add the `stable-2.15` branch to your CI workflow fi

[2022-09-27 10:26] #179 closed

[2022-10-04 13:17] undodelete opened #183 "asa_config module not switching context in loop"
##### SUMMARY
When looping through different contexts to generate config backup, the context doesn't change from first connection.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
asa_config

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Tested on the only two context firewalls we have.  Both running Version 9.8(4)10.   My d

[2022-10-12 19:51] moseley1983 commented on #180
Is there an update for this please team?

[2022-11-02 09:20] kaiseranton commented on #176
Hello, do you have any News?

[2022-11-02 10:51] justjais commented on #181
Ignore-2.15.txt is updated as intended, closing the said issue

[2022-11-02 10:51] #181 closed

[2022-11-02 10:53] justjais commented on #180
@moseley1983 please excuse us for the delayed response, the entire team was involved in Ansiblefest which got concluded recently. I'll triage the issue and update you ASAP.

[2022-11-02 10:53] justjais commented on #177
@ginigangadharan please excuse me for the delayed response, the entire team was involved in Ansiblefest which got concluded recently. I'll triage the issue and update you ASAP.

[2022-11-02 11:05] justjais commented on #183
@undodelete please excuse me for the delayed response, the entire team was involved in Ansiblefest which got concluded recently. I'll triage the issue and update you ASAP.

[2022-11-03 03:59] ginigangadharan commented on #177
@justjais thank you so much.
Hope you had great experience there in AnsibleFest :)

[2022-11-06 21:16] moseley1983 commented on #180
That's great @justjais thanks for looking into this.

[2022-11-07 12:00] justjais commented on #180
@moseley1983 I've verified the issue from my end and It seems that for you `connection: local` is being used to connect to the ASA instance as when I switch to `ansible_connection: local` from `ansible_connection=network_cli` I see the `provider` error popping up. It's expected as with `connection: local`, `provider` dict gets injected which isn’t part of newer RMs and hence the error.

Here are t

[2022-11-07 14:32] justjais commented on #177
@ginigangadharan I've verified the issue from my end but I am unable to reproduce the said error, please find my config below:
Play:
[code]
Inventory:
[code]
Ansible version:
[code]

Play run:
[code]

Cisco ASA detail:
[code]

Can you run the play appending `-vvvv` with play run to get the detailed verbose output and share the play run?

[2022-11-10 09:59] ITZAbacq opened #187 "[cisco.asa.asa.acls] Error on ACL with object-group(service), object-group(network) and any"
Hello, I'm new to these modules and I'd like to use the ACL Module to deploy some Rules on 4 Asa Firewalls.
I have some rules which are designed and stored this way:
access-list OUTSIDE extended permit object-group SomeObjectGroupService object-group SomeObjectGroupNetwork any

These rules are getting an error:

[code]

Also the module isn't supporting objects, which is very unfortunate, but I can

[2022-11-14 07:13] justjais commented on #187
@ITZAbacq thanks for raising the issue, I'll triage the issue from my end and update you more on this asap!

[2022-11-15 19:04] misterpoulet opened #188 "TypeError: 'NoneType' object is not subscriptable with asa_facts"
##### SUMMARY
Getting a TypeError while running asa_facts with the following call:

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
cisco.asa.asa_facts

##### ANSIBLE VERSION

[code]

##### COLLECTION VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT
Cisco Adaptive Security Appliance Software Version 9.12(4)41
SSP Operating System Version 2.6(1.254)
Device Manager Version 7.

[2022-11-25 01:58] kaiseranton commented on #176
I just created a pull request to add a toggle switch. That would be a great solution for me :) https://github.com/ansible-collections/cisco.asa/pull/189